@import url(grids.css);
@import url(buttons.css);
body {
    font-family: "Raleway";
    max-width: 1150px;
    margin: auto;
    padding: 10px;
}

header{
    text-align: center;
    padding: 15px;
  
}

header h1{
    margin-bottom: -7px;
}
header p {
    font-style: italic;
}

nav{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr;
    gap: 2.5px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav div{
    margin: auto;
    }
    

@media screen and (max-width: 800px) {
    nav{
        grid-template-columns: 1fr;
        gap: 5px;
        padding-left: 10px;
    }

    nav div{
        margin: initial;
        }
        
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

nav a {
    width: fit-content;
}

.ar {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
